/* This is the css for hobbies  try for vs  */

.hobbies {
  background-color: #fff;
  color: #000;
  text-align: center;
  font-family: sans-serif;
}
.hobbies-text {
  font-size: 3rem;
  color: red;
  text-decoration: underline;
  text-transform: uppercase;
}
ul li {
  padding: 20px 0px 0px 180px;
  float: left;
  text-decoration: none;
  list-style: none;
  font-size: 1.5rem;
}
